* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.widget-wrapper {
  max-width: 767px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px auto 0;
  padding: 0 5px;
}

/* HEADER */
.header-container {
  font-size: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
}

.header-item {
  display: inline-block;
  vertical-align: top;
}

.header-left {
  text-align: left;
  width: 60%;
  font-size: 18px;
}

.header-right {
  text-align: right;
  width: 40%;
  font-size: 12px;
  margin-top: 5px;
}

.header-right a {
  text-decoration: none;
  color: #666;
}
.header-right a:hover {
  text-decoration: underline;
}

.taboola-icon {
  vertical-align: middle;
}

/* ARTICLES */
.all-articles {
  font-size: 0;
}

.article-container {
  width: calc(100% / 3 - 10px);
  font-size: 16px;
  display: inline-block;
  margin: 5px;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
}

.article-link {
  text-decoration: none;
  color: #000;
}

.article-link:visited,
.article-link:active {
  color: #000;
}

.article-image-container {
  position: relative;
}

.article-image {
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #000;
}

.article-image-container:hover {
  opacity: .7;
  -webkit-box-shadow: 2px 2px 5px 2px rgba(102,102,102,1);
  -moz-box-shadow: 2px 2px 5px 2px rgba(102,102,102,1);
  box-shadow: 2px 2px 5px 2px rgba(102,102,102,1);
}

.article-image-overlay {
  position: absolute;
  bottom: 5px;
  right: 10px;
  text-shadow: .1px .1px 5px #fff;
  text-overflow: ellipsis;
  bottom: 6px;
}

.image-text {
  text-align: left;
  margin-top: 5px;
  font-size: 14px;
}

.article-container:hover  .image-text {
  color: #666;
}

.article-description {
  background-color: green;
  height: 50px;
}

@media only screen and (max-width: 640px) {
  .article-container {
    width: calc(100% / 2 - 10px);
  }
}

@media only screen and (max-width: 420px) {
  .widget-wrapper {
    padding: 0 10px 0 5px;
  }

  .article-container {
    width: calc(100% - 5px);
  }

  .header-left {
    width: 70%;
    font-size: 14px;
    margin-top: 2px;
  }

  .header-right {
    width: 30%;
    font-size: 11px;
  }

  .powered-by {
    display: none;
  }
}
